<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>글쓰기 폼</title>
</head>
<body>
<H1>글쓰기 폼</H1>
<form action="/write" method="post">
    이름 : <span th:text="${loginInfo.name}"></span><br>
<!--  UserController에서 model에다가 담은 객체의 값(loginInfo)을 꺼내 쓴다.  -->
    제목 : <input type="text" name="title" /><br />
    내용 : <br>
    <textarea name="content" cols="50" rows="5"></textarea><br>
    <input type="submit" value="등록" />
</form>
</body>
</html>